{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>

<hr>
Faydalı olabilecek bilgilere ulaşma amacıyla; verileri inceleme, analiz etme, raporlama, temizleme, modelleme ve dönüştürme gibi eylemleri içine alan süreç, Veri Analizi / Data Analysis olarak adlandırılır. Bu analizlerin mutlak suretle konunun teknik uzmanları tarafından yapılması gerekir. Çünkü bir veri analizini oluşturan pek çok araç ve parametreden söz etmek mümkündür. Bu da sürecin profesyoneller tarafından yönetilmesini zorunlu kılar. Veri analizi için birbirinden farklı yaklaşımlar söz konusudur. Aynı şekilde bu çeşitlilik teknikler için de geçerlidir.
<hr>

{% endblock body %}